version: '3'

networks:
  traefik:
    external: true
  logging:

services:
  api:
    image: {{ api_image }}
    deploy:
      labels:
        - traefik.frontend.rule=Host:demo.nspain.me
        - traefik.port=8080
        - traefik.backend=api
        - traefik.docker.network=traefik
    networks:
      - traefik
      - logging

  traefik:
    image: traefik:v1.7.12-alpine
    environment:
      DO_AUTH_TOKEN: {{ digitalocean_token }}
    ports:
      - 80:80
      - 443:443
    volumes:
      - /etc/traefik:/etc/traefik
      - /var/run/docker.sock:/var/run/docker.sock
    networks:
      - traefik
      - logging

  logging:
    image: gliderlabs/logspout:v3.2.6
    networks:
      - logging
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    deploy:
      mode: global
    environment:
      SYSLOG_STRUCTURED_DATA: "{{ loggly_token }}@41058"
      tag: ci-cd-demo
    command: "syslog+tcp://{{ loggly_domain }}:514"
