logLevel = "INFO"
defaultEntryPoints = ["http", "https"]

[accessLog]

# Enable the web ui and api
[api]

# Watch the config file for changes
[file]
watch = true


# Configure http and https endpoints. Redirectory http to https
[entryPoints]
  [entryPoints.http]
  address = ":80"
    [entryPoints.http.redirect]
    entryPoint = "https"
  [entryPoints.https]
  address = ":443"
    [entryPoints.https.tls]

# Configure letsencrypt to use the staging CA server with the DNS challnge
# (digitalocean provider). Only provision a cert for demo.nspain.me
[acme]
email = "{{ letsencrypt_email }}"
storage = "/etc/traefik/acme.json"
entryPoint = "https"
#caServer = "https://acme-staging-v02.api.letsencrypt.org/directory"
caServer = "https://acme-v02.api.letsencrypt.org/directory"
caServer = "{{ traefik_ca_server | default('https://acme-v02.api.letsencrypt.org/directory') }}"
  [acme.dnsChallenge]
    provider = "{{ traefik_dns_provider | default('digitalocean') }}"
    delayBeforeCheck = 0
  [[acme.domains]]
    main = "demo.nspain.me"

# Configure docker interaction.
[docker]
endpoint = "unix:///var/run/docker.sock"
exposedbydefault = true
watch = true
swarmmode = true
