[entryPoints]
  [entryPoints.https]
  address = ":443"
    [entryPoints.https.tls]

[acme]
email = "{{email}}"
storageFile = "/etc/traefik/acme.json"
entryPoint = "https"
caServer = "https://acme-staging.api.letsencrypt.org/directory"
[[acme.domains]]
   main = "nspain.me"